.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
	width: 100%;
	padding: 10px 0;
}
.item + .item {
	border-top: 1px solid #ccc;
}
.item-updating {
	opacity: 0.5;
}

.item-content {
	flex-grow: 1;
	cursor: pointer;
}

.checkbox {
	height: 30px;
	width: 30px;
}

.edit {
	display: flex;
	gap: 5px;
	flex-grow: 1;
}

.input {
	font-family: inherit;
	font-size: inherit;
	background: transparent;
	outline: none;
	border: 1px solid #00b0c7;
	padding: 4px 7px;
	width: 100%;
}

.buttons {
	display: flex;
	gap: 7px;
}

.button {
	font-family: inherit;
	border: none;
	background: #571db4;
	color: #fff;
	padding: 6px;
	cursor: pointer;
}
.button:hover,
.button:disabled {
	opacity: 0.75;
}
.delete-todo-btn {
	background: #7d7d7d;
}

.edit-todo-btn {
	background: #00b0c7;
}
