.form {
	display: flex;
	align-items: center;
	gap: 10px;
	width: 100%;
}

.input {
	font-family: inherit;
	font-size: 15px;
	flex-grow: 1;
	padding: 7px;
}

.form-button {
	font-family: inherit;
	font-size: 15px;
	font-weight: 500;
	color: #fff;
	background: #0a0150;
	border: 1px solid #0a0150;
	padding: 7px;
	cursor: pointer;
}
.form-button:hover,
.form-button:disabled {
	opacity: 0.75;
}

.error {
	margin-top: 10px;
	color: rgb(183, 22, 22);
}
